<<<<<<< HEAD
<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    background-color: #61dafb;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

button:hover {
    background-color: #21a1f1;
=======
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    background-color: #61dafb;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

button:hover {
    background-color: #21a1f1;
>>>>>>> c2b5a87dca8ce0d93ff35090e2151aee56ee7736
=======
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    background-color: #61dafb;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

button:hover {
    background-color: #21a1f1;
>>>>>>> c2b5a87dca8ce0d93ff35090e2151aee56ee7736
}